<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.appcelerator.titanium.mobile.ui.ios.simulator.launchConfigurationType">
<booleanAttribute key="ATTR_CLEAN_BEFORE_LAUNCH" value="false"/>
<stringAttribute key="ATTR_PROJECT_NAME" value="1509_AboutMe_McKinney_Sequester"/>
<stringAttribute key="device_id" value="19587B84-DCAB-4985-9B8D-2E4E1EF4F35E"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/1509_AboutMe_McKinney_Sequester"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<stringAttribute key="process_factory_id" value="com.appcelerator.titanium.ui.logLevelFilteringProcessFactory"/>
<stringAttribute key="sdk_version" value="9.0"/>
<stringAttribute key="simulator_version" value="9.0"/>
</launchConfiguration>
